# Pandas Time Series Analysis 3: Holidays

In [5]:
import pandas as pd

df=pd.read_csv("AAPL_Historical_Data_Date_Range.csv",)
df.head()

    Price    Open    High     Low    Vol. Change %
0  129.87  130.23  130.70  128.83  87.67M    0.12%
1  129.71  128.97  129.99  127.45  96.86M   -0.86%
2  130.84  131.31  132.21  129.56  98.09M   -1.76%
3  133.19  135.47  136.00  132.82  80.58M   -1.61%
4  135.37  134.35  135.53  133.69  60.15M    0.18%

In [6]:
d_rng=pd.date_range(start="2/20/2020",periods=274,freq="B")

In [7]:
d_rng

DatetimeIndex(['2020-02-20', '2020-02-21', '2020-02-24', '2020-02-25',
               '2020-02-26', '2020-02-27', '2020-02-28', '2020-03-02',
               '2020-03-03', '2020-03-04',
               ...
               '2021-02-24', '2021-02-25', '2021-02-26', '2021-03-01',
               '2021-03-02', '2021-03-03', '2021-03-04', '2021-03-05',
               '2021-03-08', '2021-03-09'],
              dtype='datetime64[ns]', length=274, freq='B')

In [9]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay
from pandas.tseries.offsets import _get_calendar

In [16]:
us_cal = CustomBusinessDay(calendar=USFederalHolidayCalendar())
us_cal

In [17]:
d_rng=pd.date_range(start="2/20/2020",periods=274,freq=us_cal)

In [18]:
d_rng

DatetimeIndex(['2020-02-20', '2020-02-21', '2020-02-24', '2020-02-25',
               '2020-02-26', '2020-02-27', '2020-02-28', '2020-03-02',
               '2020-03-03', '2020-03-04',
               ...
               '2021-03-10', '2021-03-11', '2021-03-12', '2021-03-15',
               '2021-03-16', '2021-03-17', '2021-03-18', '2021-03-19',
               '2021-03-22', '2021-03-23'],
              dtype='datetime64[ns]', length=274, freq='C')

In [19]:
df.set_index(d_rng,inplace=True)
df.head()

             Price    Open    High     Low    Vol. Change %
2020-02-20  129.87  130.23  130.70  128.83  87.67M    0.12%
2020-02-21  129.71  128.97  129.99  127.45  96.86M   -0.86%
2020-02-24  130.84  131.31  132.21  129.56  98.09M   -1.76%
2020-02-25  133.19  135.47  136.00  132.82  80.58M   -1.61%
2020-02-26  135.37  134.35  135.53  133.69  60.15M    0.18%

# AbstractHolidayCalendar

In [20]:
from pandas.tseries.holiday import AbstractHolidayCalendar, nearest_workday, Holiday
class myCalendar(AbstractHolidayCalendar):
    rules = [
        Holiday('My Birth Day', month=4, day=15),#, observance=nearest_workday),
    ]
    
my_bday = CustomBusinessDay(calendar=myCalendar())
pd.date_range('4/1/2021','4/30/2021',freq=my_bday)

DatetimeIndex(['2021-04-01', '2021-04-02', '2021-04-05', '2021-04-06',
               '2021-04-07', '2021-04-08', '2021-04-09', '2021-04-12',
               '2021-04-13', '2021-04-14', '2021-04-16', '2021-04-19',
               '2021-04-20', '2021-04-21', '2021-04-22', '2021-04-23',
               '2021-04-26', '2021-04-27', '2021-04-28', '2021-04-29',
               '2021-04-30'],
              dtype='datetime64[ns]', freq='C')

CustomBusinessDay

- Weekend in egypt is Friday and Saturday. Sunday is just   a normal weekday and you can handle this custom week       schedule using CystomBysinessDay with weekmask as shown   below

In [22]:
egypt_weekdays = "Sun Mon Tue Wed Thu"

b = CustomBusinessDay(weekmask=egypt_weekdays,)

pd.date_range(start="7/1/2021",periods=20,freq=b)

DatetimeIndex(['2021-07-01', '2021-07-04', '2021-07-05', '2021-07-06',
               '2021-07-07', '2021-07-08', '2021-07-11', '2021-07-12',
               '2021-07-13', '2021-07-14', '2021-07-15', '2021-07-18',
               '2021-07-19', '2021-07-20', '2021-07-21', '2021-07-22',
               '2021-07-25', '2021-07-26', '2021-07-27', '2021-07-28'],
              dtype='datetime64[ns]', freq='C')

You can also add holidays to this custom business day frequency

In [23]:

b = CustomBusinessDay(holidays=['2017-07-04', '2017-07-10'], weekmask=egypt_weekdays)

pd.date_range(start="7/1/2017",periods=20,freq=b)

DatetimeIndex(['2017-07-02', '2017-07-03', '2017-07-05', '2017-07-06',
               '2017-07-09', '2017-07-11', '2017-07-12', '2017-07-13',
               '2017-07-16', '2017-07-17', '2017-07-18', '2017-07-19',
               '2017-07-20', '2017-07-23', '2017-07-24', '2017-07-25',
               '2017-07-26', '2017-07-27', '2017-07-30', '2017-07-31'],
              dtype='datetime64[ns]', freq='C')

Mathematical operations on date object using custom business day

In [24]:
from datetime import datetime
dt = datetime(2021,7,9)
dt

datetime.datetime(2021, 7, 9, 0, 0)

In [25]:
dt + 1*b

Timestamp('2021-07-11 00:00:00')