# reading, writing csv, excel files

- reading csv
- writing csv
- reading excel
- writing excel

In [1]:
import pandas as pd

In [18]:
df= pd.read_csv("https://raw.githubusercontent.com/codebasics/py/master/pandas/4_read_write_to_excel/stock_data.csv")

In [19]:
print(df)
df.to_csv("stock_data.csv",index=False)

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [20]:
df1= pd.read_csv("stock_data.csv",skiprows=2)
df1

    WMT           4.61  484    65           n.a.
0  MSFT             -1   85    64     bill gates
1  RIL   not available   50  1023  mukesh ambani
2  TATA            5.6   -1  n.a.     ratan tata

In [21]:
# data wrangling or munging
df= pd.read_csv("stock_data.csv",na_values={
    'people':["not available","n.a."],
    'eps':["not available","n.a.","-1"],
    'price':["not available","n.a."],
    'revenue':["not available","-1"],
})
df

  tickers    eps  revenue   price         people
0   GOOGL  27.82     87.0   845.0     larry page
1     WMT   4.61    484.0    65.0            NaN
2    MSFT    NaN     85.0    64.0     bill gates
3    RIL     NaN     50.0  1023.0  mukesh ambani
4    TATA   5.60      NaN     NaN     ratan tata