# Topics

- Creating dataframe
- Dealing with rows and columns 
- Operations: min,max, std, decribe
- conditional selection
- set_index

In [1]:
import pandas as pd

# creating dataframe

In [3]:
df=pd.DataFrame([['1/1/2020',32,6,'rain'],['1/2/2020',35,7,'snow'],
                 ['1/3/2020',28,2,'snow'],['1/4/2020',24,7,'snow'],
                 ['1/5/2020',32,4,'rain'],['1/6/2020',32,2,'sunny']],
               columns=['day','temperature','wind_speed','event'])
df

        day  temperature  wind_speed  event
0  1/1/2020           32           6   rain
1  1/2/2020           35           7  sunny
2  1/3/2020           28           2   snow
3  1/4/2020           24           7   snow
4  1/5/2020           32           4   rain
5  1/6/2020           32           2  sunny

# Dealing with rows and columns

In [7]:
rows, columns = df.shape

In [8]:
rows

6

In [10]:
columns

4

In [12]:
df.head(2)

        day  temperature  wind_speed  event
0  1/1/2020           32           6   rain
1  1/2/2020           35           7  sunny

In [14]:
df.tail(3)

        day  temperature  wind_speed  event
3  1/4/2020           24           7   snow
4  1/5/2020           32           4   rain
5  1/6/2020           32           2  sunny

In [15]:
df[2:5] #print 2-4

        day  temperature  wind_speed event
2  1/3/2020           28           2  snow
3  1/4/2020           24           7  snow
4  1/5/2020           32           4  rain

In [16]:
df[:] #print all

        day  temperature  wind_speed  event
0  1/1/2020           32           6   rain
1  1/2/2020           35           7  sunny
2  1/3/2020           28           2   snow
3  1/4/2020           24           7   snow
4  1/5/2020           32           4   rain
5  1/6/2020           32           2  sunny

In [18]:
df.columns

Index(['day', 'temperature', 'wind_speed', 'event'], dtype='object')

In [20]:
print(df.day,"\n")#print indibidual colmun
print(df['day'],"\n")

0    1/1/2020
1    1/2/2020
2    1/3/2020
3    1/4/2020
4    1/5/2020
5    1/6/2020
Name: day, dtype: object

0    1/1/2020
1    1/2/2020
2    1/3/2020
3    1/4/2020
4    1/5/2020
5    1/6/2020
Name: day, dtype: object

In [21]:
type(df['day'])

pandas.core.series.Series

In [22]:
type(df)

pandas.core.frame.DataFrame

In [26]:
df[['event','day','temperature']]

   event       day  temperature
0   rain  1/1/2020           32
1  sunny  1/2/2020           35
2   snow  1/3/2020           28
3   snow  1/4/2020           24
4   rain  1/5/2020           32
5  sunny  1/6/2020           32

# Operation: min,max,std etc,.

In [30]:
print(df['temperature'],"\n")
print("maximum temperature:",df['temperature'].max())

0    32
1    35
2    28
3    24
4    32
5    32
Name: temperature, dtype: int64

maximum temperature: 35

In [33]:
df.describe().T

             count       mean       std   min   25%   50%    75%   max
temperature    6.0  30.500000  3.885872  24.0  29.0  32.0  32.00  35.0
wind_speed     6.0   4.666667  2.338090   2.0   2.5   5.0   6.75   7.0

# condition

In [35]:
df[df.temperature>=32]

        day  temperature  wind_speed  event
0  1/1/2020           32           6   rain
1  1/2/2020           35           7  sunny
4  1/5/2020           32           4   rain
5  1/6/2020           32           2  sunny

In [41]:
print(df[df.temperature==df.temperature.max()],"\n")
df[df.temperature==df['temperature'].max()]

        day  temperature  wind_speed  event
1  1/2/2020           35           7  sunny

        day  temperature  wind_speed  event
1  1/2/2020           35           7  sunny

In [42]:
df['day'][df.temperature==df['temperature'].max()]

1    1/2/2020
Name: day, dtype: object

In [44]:
df[['day','temperature']][df['temperature']==df['temperature'].max()]

        day  temperature
1  1/2/2020           35

# index

In [45]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [48]:
df.set_index('day', inplace=True)

In [49]:
df

          temperature  wind_speed  event
day
1/1/2020           32           6   rain
1/2/2020           35           7  sunny
1/3/2020           28           2   snow
1/4/2020           24           7   snow
1/5/2020           32           4   rain
1/6/2020           32           2  sunny

In [50]:
df.loc['1/2/2020']

temperature       35
wind_speed         7
event          sunny
Name: 1/2/2020, dtype: object

In [51]:
df.reset_index(inplace=True)
df

        day  temperature  wind_speed  event
0  1/1/2020           32           6   rain
1  1/2/2020           35           7  sunny
2  1/3/2020           28           2   snow
3  1/4/2020           24           7   snow
4  1/5/2020           32           4   rain
5  1/6/2020           32           2  sunny

In [52]:
df.set_index('event', inplace=True)

In [53]:
df

            day  temperature  wind_speed
event
rain   1/1/2020           32           6
sunny  1/2/2020           35           7
snow   1/3/2020           28           2
snow   1/4/2020           24           7
rain   1/5/2020           32           4
sunny  1/6/2020           32           2

In [54]:
df.loc['snow']

            day  temperature  wind_speed
event
snow   1/3/2020           28           2
snow   1/4/2020           24           7